:root {
  --background-primary-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --background-secondary-color: #2f303a;
  --links-buttons-text-color: #ffffff;
  --special-button-hover: #188ce8;
  --icon-primary-color: #afb1b8;
  --timing-function-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
